<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Main Rule: Rewrite all requests to "index.php" if the requested URL doesn't match an existing file or directory -->
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>

        <!-- Prevent Access to Restricted Folders: Deny access to folders "include," "fns," "pages," and "layouts" -->
        <rule name="Prevent Access to Restricted Folders" stopProcessing="true">
          <match url="^(include|fns|pages|layouts)/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access to the requested resource is forbidden." />
        </rule>

        <!-- Deny Access to File Types in the "assets" folder -->
        <rule name="Deny Access to Specific File Types in the 'assets' folder" stopProcessing="true">
          <match url="^assets/.*\.(php5|php4|php|php3|php2|phtml|pl|py|jsp|asp|htm|shtml|html|sh|cgi|cache)$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access to the requested resource is forbidden." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>